includes:
parameters:
  level: 3
  paths:
    - docroot/modules/custom
    - docroot/themes/custom
  excludePaths:
    analyse:
      - vendor/
      - docroot/core/
      - docroot/modules/contrib/
      - docroot/themes/contrib/
      - docroot/sites/default/
      - "*/tests/src/Unit/*"
      - "*/tests/src/Kernel/*"
      - "*/tests/src/Functional/*"
  drupal:
    entityMapping: []
  ignoreErrors:
    - message: '#Call to an undefined method Drupal\\Core\\.*#'
      count: 999
      path: docroot/modules/custom
    - message: '#Method .* has no return type specified#'
      path: docroot/modules/custom
    - message: '#Function hook_.* has no return type#'
      path: docroot/modules/custom
    - '#Variable \$variables might not be defined#'
    - '#Access to an undefined property Drupal\\Core\\Entity\\EntityInterface#'
  inferPrivatePropertyTypeFromConstructor: true
  tmpDir: .phpstan-cache
  parallel:
    maximumNumberOfProcesses: 4
    minimumNumberOfJobsPerProcess: 2
